---
import { Image } from "astro:assets";
import Layout from "../layouts/SectionLayout.astro";
import Hero from "../components/SectionHero.astro";
import "../assets/style/hero.css";

import posts from "../assets/js/post.json";

async function getImage(imgSrc) {
	try {
		const image = await import(`/src/assets/images/${imgSrc}`);
		return image.default;
	} catch (error) {
		return null;
	}
}

const blogItems = await Promise.all(
	posts.map(async (post) => ({
		...post,
		image: await getImage(post.imgSrc),
	}))
);

const title = "Blog";
const description = "前端工程師 & 職涯諮詢師";
const keywords = "前端,工程師,職涯,諮詢師,部落格,學習,分享";
---

<Layout title={title} description={description} keywords={keywords}>
	<Hero />
	<section class="blog-list">
		<div class="container">
			<form action="">
				<div class="form-row search">
					<input type="text" class="form-control" placeholder="搜尋你感興趣的文章" />
				</div>
			</form>
			<ul class="card-list">
				{
					blogItems.map(({ image, date, index, title, text, buttonText, link }, idx) => {
						return (
							idx !== 0 && (
								<li class="card" data-key={idx}>
									<div class="card-header">
										{image && <Image class="cover-img" src={image} alt={title} />}
									</div>
									<div class="card-body">
										<div class="blog-item-date">{date}</div>
										<div class="blog-item-index">{index}</div>
										<h3>{title}</h3>
										<p class="blog-item-text">{text}</p>
									</div>
									<div class="card-footer" />
									<a href={link} class="button">
										{buttonText}
									</a>
								</li>
							)
						);
					})
				}
			</ul>
			<nav class="pagination-container">
				<ul class="pagination">
					<li class="page-item prev"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">4</a></li>
					<li class="page-item"><a class="page-link" href="#">5</a></li>
					<li class="page-item"><a class="page-link" href="#">...</a></li>
					<li class="page-item next"><a class="page-link" href="#">Next</a></li>
				</ul>
			</nav>
		</div>
	</section>
</Layout>
