---
// @ts-nocheck
import { Image } from "astro:assets";

import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/HomeHero.astro";

import "../assets/style/index.css";

import posts from "../assets/js/post.json";

const apiUrl = import.meta.env.BREVO_API_URL;
const apiKey = import.meta.env.BREVO_API_KEY;
console.log("All env variables:", apiKey);

const title = "首頁";
const description = "首頁 - 前端職涯諮詢師 Alyse Wang 的個人網站，提供前端開發、職涯規劃、履歷健檢等專業服務。";
const keywords = "前端,職涯,諮詢,履歷,健檢,網頁開發,企業內訓,線上諮詢";

const services = [
	{
		title: "履歷健檢",
		description:
			"履歷是打開機會之門的第一步。讓我協助你突顯專業技術與核心能力，並透過簡短模擬面試為你加分，讓面試官第一眼就被你吸引。",
		imgSrc: "/images/desktop/index/services-img1.png",
	},
	{
		title: "線上諮詢",
		description: "想快速解決前端學習瓶頸，或需要專業職涯指引？透過線上一對一諮詢，我將協助你更有方向地邁進。",
		imgSrc: "/images/desktop/index/services-img2.png",
	},
	{
		title: "網頁開發",
		description: "想打造高效能、具美感的網站？我提供從需求訪談到架構實作的一站式服務，讓你的品牌與產品在線上脫穎而出。",
		imgSrc: "/images/desktop/index/services-img3.png",
	},
	{
		title: "企業內訓",
		description:
			"想讓團隊快速掌握前端最新技術或優化現有專案流程？我可協助打造專業、實用的企業內訓課程，一次解決團隊痛點。",
		imgSrc: "/images/desktop/index/services-img4.png",
	},
];

const jobCases = [
	{
		title: "無經驗到前端工程師 Offer",
		description: ["打造前端專案與履歷亮點", "深度強化面試表現"],
		imgSrc: "/images/desktop/index/people.png",
		podcastLink: "https://www.podbean.com/media/share/pb-3f8g7-1e2c4a0",
	},
	{
		title: "轉職迷茫到明確學習規劃",
		description: ["制訂階段性目標與時間安排", "鼓勵參與前端社群或活動"],
		imgSrc: "/images/desktop/index/people2.png",
		podcastLink: "https://www.podbean.com/media/share/pb-3f8g7-1e2c4a0",
	},
	{
		title: "面試緊張到從容應對",
		description: ["透過面試模擬找出常犯的邏輯漏洞", "討論遇到不熟悉議題時的回應方式"],
		imgSrc: "/images/desktop/index/people3.png",
		podcastLink: "https://www.podbean.com/media/share/pb-3f8g7-1e2c4a0",
	},
	{
		title: "面試緊張到從容應對",
		description: ["擬定進階框架或技術研究目標", "培養跨團隊溝通與簡報能力"],
		imgSrc: "/images/desktop/index/people4.png",
		podcastLink: "https://www.podbean.com/media/share/pb-3f8g7-1e2c4a0",
	},
];

const socialLinks = [
	{
		channel: "alysewang@hexschool.com",
		href: "mailto:alysewang@hexschool.com",
		iconClass: "",
		description: "合作洽談",
		arrowText: "Go",
	},
	{
		channel: "Youtube",
		href: "javascript:;",
		iconClass: "youtube",
		description: "職涯諮詢室",
		arrowText: "Go",
	},
	{
		channel: "Podcast",
		href: "javascript:;",
		iconClass: "apple-podcasts",
		description: "職涯諮詢室",
		arrowText: "Go",
	},
	{
		channel: "Facebook",
		href: "javascript:;",
		iconClass: "facebook",
		description: "前端社群",
		arrowText: "Go",
	},
	{
		channel: "Linkedin",
		href: "javascript:;",
		iconClass: "linkedin",
		description: "職涯交流",
		arrowText: "Go",
	},
	{
		channel: "Instagram",
		href: "javascript:;",
		iconClass: "instagram",
		description: "日常分享",
		arrowText: "Go",
	},
];

const images = import.meta.glob("/public/images/**/*.{png,jpg,jpeg,webp}", { eager: true });
function getImageSrc(imgPath) {
	// console.log("Looking for:", imgPath); // 调试用
	// console.log("Available images:", Object.keys(images)); // 调试用
	const image = images[imgPath];
	return image?.default;
}
---

<HomeLayout title={title} description={description} keywords={keywords}>
	<Hero />
	<section class="services">
		<div class="container">
			<h2>專業服務與方案</h2>
			<ul class="services-list">
				{
					services.map(({ title, description, imgSrc }) => {
						const imageSrc = getImageSrc(imgSrc);
						return (
							<li class="service-item">
								<span class="img">
									<img src={imgSrc} alt={title} class="services-bg" />
								</span>
								<span class="text">
									<h3>{title}</h3>
									<p>{description}</p>
								</span>
							</li>
						);
					})
				}
			</ul>
			<div class="flex-wrap">
				<div class="h3">聯繫我，取得更多資訊！</div>
				<a href="" class="btn-rounded">聯絡我</a>
			</div>
		</div>
	</section>
	<section class="blog">
		<div class="container">
			<h2>部落格精選</h2>
		</div>
		<div class="container container-lg">
			<div class="swiper">
				<ul class="card-list swiper-wrapper">
					{
						posts.map(({ date, index, cat, title, text, imgSrc, buttonText, link, isIndexDisplay }) => {
							const imageSrc = getImageSrc(imgSrc);
							return (
								isIndexDisplay && (
									<li class="card swiper-slide" data-key={title}>
										<div class="card-header">
											<img class="cover-img" src={imgSrc} alt={title} />
										</div>
										<div class="card-body">
											<div class="blog-item-date">{date}</div>
											<div class="blog-item-index">
												{index} {cat && <span class="blog-item-cat">{cat}</span>}
											</div>
											<h3>{title}</h3>
											<p class="blog-item-text">{text}</p>
										</div>
										<div class="card-footer" />
										<a href={link} class="button">
											{buttonText}
										</a>
									</li>
								)
							);
						})
					}
				</ul>
				<div class="swiper-controller">
					<a href="javascript:;" class="swiper-button-prev"></a>
					<a href="javascript:;" class="swiper-button-next"></a>
				</div>
			</div>
		</div>
	</section>
	<section class="jobs-case">
		<div class="container">
			<h2>職涯諮詢成功案例</h2>
			<div class="row">
				<div class="col">
					<div class="imgWrap">
						<Image width={697} height={578} class="cover-img" src="/images/desktop/index/section-job.png" alt="" />
					</div>
				</div>
				<div class="col">
					<div class="text bg-light">
						<span class="icon"></span>
						<p>
							在職涯發展的關鍵轉折點上，適時的協助與正確的方向至關重要。藉由職涯諮詢，我可以幫助你加速釐清目標、建立更全面的技術與軟實力，並有效突破<span
								class="text-primary">原有的舒適圈</span
							>。
						</p>
					</div>
					<div class="text">
						<span class="icon"></span>
						<p>期待在下一個新機會中，我能與你一起攜手邁向更高峰！</p>
						<a href="javascript:;" class="button button-primary">立即預約諮詢</a>
					</div>
				</div>
			</div>
			<ul class="section-jobs-case-list">
				{
					jobCases.map(({ title, description, imgSrc, podcastLink }) => {
						return (
							<li class="card">
								<div class="card-header">
									<Image src={imgSrc} alt={title} inferSize width={80} height={80} />
								</div>
								<div class="card-body">
									<p class="card-text">{title}</p>
									<ul>
										{description.map((desc) => {
											return (
												<li>
													<span class="box" />
													{desc}
												</li>
											);
										})}
									</ul>
								</div>
								<div class="card-footer">
									<a href={podcastLink} target="_blank" class="button">
										前往聆聽 podcast
									</a>
								</div>
							</li>
						);
					})
				}
			</ul>
		</div>
	</section>
	<section class="newsletter">
		<div class="row">
			<div class="col">
				<Image
					width={960}
					height={834}
					class="cover-img"
					src="/images/desktop/index/section-newsletter.png"
					alt="newsletter-img"
				/>
			</div>
			<div class="col">
				<div class="newsletter-block">
					<h2>訂閱電子報</h2>
					<p>立即訂閱，搶先掌握<span class="text-primary">前端 x 職涯</span>的獨家資訊！</p>
					<form id="newsletter">
						<div class="form-row">
							<input id="newsletter-name" class="form-control" type="text" placeholder="請輸入您的大名" />
						</div>
						<div class="form-row">
							<input id="newsletter-email" class="form-control" type="email" placeholder="請輸入你的電子郵件" />
						</div>
						<button id="newsletter-submit" type="submit" class="button button-primary">啟動訂閱</button>
					</form>
					<div id="success-message" class="success-message">訂閱成功！請檢查您的電子郵件以確認訂閱。</div>
					<div id="error-message" class="error-message"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="contact">
		<div class="container">
			<h2>與我聯繫</h2>
			<ul class="contact-list">
				{
					socialLinks.map(({ href, iconClass, channel, description, arrowText }) => {
						return (
							<li class="contact-item" data-key={channel}>
								<a class="contact-link" href={href} target="_blank">
									<span class="text-area">
										{iconClass && <span class={`social-icon ${iconClass}`} />}
										<span class={`channel-name ${!iconClass ? "text-underline" : null}`}>{channel}</span>
										<span>{description}</span>
									</span>
									<span class="arrow">{arrowText}</span>
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
	</section>
</HomeLayout>

<style>
	.success-message,
	.error-message {
		margin-top: 10px;
		padding: 10px;
		display: none;
	}
	.success-message {
		background-color: #d4edda;
		color: #155724;
	}
	.error-message {
		background-color: #f8d7da;
		color: #721c24;
	}
</style>

<script>
	if (document.querySelector(".blog")) {
		const { default: Swiper } = await import("swiper");
		const { Navigation, EffectFade } = await import("swiper/modules");
		const swiper = new Swiper(".blog .swiper", {
			modules: [Navigation, EffectFade],
			slidesPerView: 1,
			spaceBetween: 24,
			breakpoints: {
				992: {
					slidesPerView: 3,
					spaceBetween: 24,
					effect: "slide",
				},
			},
			navigation: {
				nextEl: ".blog .swiper-button-next",
				prevEl: ".blog .swiper-button-prev",
			},
		});
	}

</script>
