---
import heroImgMain from "../../public/images/desktop/index/hero-section.png";
import heroImgSub from "../../public/images/desktop/blog/about-section.png";

// Section Title
const section = "Blog";
const sectionDesc = "前端工程師 & 職涯諮詢師";

import posts from "../assets/js/post.json";

const currentPost = {
	postDate: "",
	postIndex: "",
	postCat: "",
	postTitle: "",
	postText: "",
	postLink: "",
	postButtonText: "",
};
posts.map(({ date, index, cat, title, text, link, buttonText }, idx) => {
	if (idx === 0) {
		currentPost.postDate = date;
		currentPost.postIndex = index;
		currentPost.postCat = cat;
		currentPost.postTitle = title;
		currentPost.postText = text;
		currentPost.postLink = link;
		currentPost.postButtonText = buttonText;
	}
});
---

<div class="hero section-hero">
	<div class="row row-section">
		<div class="col hero-main-img">
			<img class="cover-img" src={heroImgMain.src} alt="" />
		</div>
		<div class="col hero-main-text-wrap">
			<div class="hero-main-text">
				<h1>{section}</h1>
				<p class="h3">{sectionDesc}</p>
			</div>
		</div>
	</div>
	<div class="row row-title">
		<div class="col hero-sub-img">
			<img class="cover-img" src={heroImgSub.src} alt="" />
		</div>
		<div class="col card no-bg">
			<div class="card-body">
				<div class="blog-item-date"><time datetime={currentPost.postDate}>{currentPost.postDate}</time></div>
				<div class="blog-item-index">
					{currentPost.postIndex}
					{currentPost.postCat && <span class="blog-item-cat">{currentPost.postCat}</span>}
				</div>
				<h2>{currentPost.postTitle}</h2>
				<p class="blog-item-text">{currentPost.postText}</p>
				<a class="button" href={currentPost.postLink}>{currentPost.postButtonText}</a>
			</div>
		</div>
	</div>
</div>

<style>
	.card-body {
		max-width: 636px;
	}
	@media screen and (max-width: 991.98px) {
		.card-body {
			max-width: 100%;
		}
		.card .blog-item-text {
			-webkit-line-clamp: 4;
		}
	}
</style>
